
html{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif


}
body{
    background-image: url(../images/qbkls.png);
    
    margin: 0;
    
     
    
}
#width{
    background-color: #ffffff; 
    padding: 35px 0 0 0; 
     

}    
    

#header {
    padding: 20px;
    color: white;
    background:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    width: 20%;  
        
  }
  #header2{
    float: right;
    width: 7%;
    margin-top: 0px;
    position: relative;
    bottom: 35px;
    text-align: center;
    
    
}
#header3{
    float: right;
    width: 7%;
    margin-top: 0px;
    position: relative;
    bottom: 35px;
    border: #cccccc;
    border-right-style:solid;
    border-left-style: solid;
    text-align: center;
      
    
}
  h1{
      color: #4aaaa5;
      font-size: 40px;
      border-bottom: #cccccc;
      border-bottom-style: solid;
      padding-bottom: 20px;
    
  }
  
   .middle {
       position: relative;
    width: 960px;
    
    margin: 0 auto;  
    
  }
 
img{
    float: left;
    padding:0px 20px 0px 0px;
    transform: scale(1.008);

    
   
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    line-height: 50px;  
    
}
footer{
    text-align: center;
    background: #666666;
    border: #4aaaa5;
    border-top-style: solid;
    border-top-width: 10px;
    padding-top: 25px;
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 35px;
    
    
}
#relative{
    
    border:  rgb(202, 200, 200);
    border-top-style: solid;
    height: 1000px;
    
    
}
#absolute{
   
    background-color: white;
    width:910px;
    margin:auto;          
    padding: 25px;
    margin-top: 50px;
    
}
#absolute1{
   
    background-color: white;
    width:910px;
    margin:auto;  
    padding: 10px 25px 630px 25px;
    margin-top: 15px;
    
    
}
#absolute2{
   
    background-color: white;
    width:40%;
    margin:auto;          
    padding: 25px;
    margin-top: 50px;
    
}
#Name{
    width:100%;
}
#Email{
    width:100%;
    
}
#Message{   
    width:100%;
    height: 180px;
      
}
#Submit{
    color: white;
    background:#4aaaa5;
    border: #4aaaa5;
    border-style: solid;
    margin-top: 10px;
    width: 90px;
    height: 30px;
}
#Submit:hover{
    transform: scale(1.008);
    cursor: pointer;

}
form{
    line-height: 23px;
}
#ipad{
    height: 200px;
    width: 310px;
    margin: 45px;
}
.container{
    position: relative;
   
    

}

    
    
.pictext{
    position: absolute;
    color: white;
    text-align: center;
    left:80px;
    width: 240px;
    top:235px;
    
    height: 50px;
    line-height: 10px;
    
    
       

}
.container2{
    position: relative;

}
.pictext2{
    position: absolute;
    color: white;
    
    left:490px;
   
    top:235px;
    text-align: center;
    height: 150px;
    line-height: 10px;
       

}
.container3{
    position: relative;

}
.pictext3{
    position: absolute;
    color: white;
   
    left:80px;
    width: 240px;
    top:124px;
    text-align: center;
    height: 50px;
    line-height: 10px;
    top: 525px;   

}
.container4{
    position: relative;

}
.pictext4{
    position: absolute;
    color: white;
   
    left:490px;
    width: 240px;
   
    text-align: center;
    height: 50px;
    line-height: 10px;
    top: 525px;
       

}
.container5{
    position: relative;

}
.pictext5{
    position: absolute;
    color: white;
    background:#4aaaa5;
    left:35px;
    width: 240px;
    top:124px;
    text-align: center;
    height: 50px;
    line-height: 10px;
    top: 525px;   

}
.links{
    float: right;
    position: relative;
    bottom: 450px;
    width: 15%;
    background: #ffffff;
    font-size: 14px;
    padding: 20px;
    right:80px;
   line-height: 25px;
    
}
#email1{
    font-size: 14px;
    line-height: 12px;
}
@media only screen and (max-width: 640px) {
/* For mobile phones: */
html{
    width: 100%;
}
#header{
    position: static;
    width: 100%;
    
}
#header2, #header3{
    
    float:left;
    top:30px;
    left:30px;
    padding: 5px;
}
.middle{
    left:0%;
}
img{
    width: 150px;
    height: 150px;
}
#absolute{
    width: 100%;
    font-size: 10px;
    padding-bottom: 250px;
    margin-bottom: 100px;
    
}
#absolute1{
    
    font-size: 10px;
    padding-bottom: 150px;
    
    }
    #absolute2{
        width:100%;
        font-size: 10px;
        margin-bottom: 5px;
        
        }
#relative{
    height: 1150px;
    padding-bottom:0px;
}
.links{
    float: left;
    margin-left: 80px;
}

}
@media only screen and (max-width: 768px) {
    /* For tablets: */
    .middle{
        width: 440px;
       
    }
    #absolute{
        
        width:440px;
        height: 630px;
    }
    #absolute1{
        width:440px;
        height: 630px;
        }
        #absolute2{
            margin-top: 100px;
            width:440px;
            height: 630px;
            margin-bottom: 5px;
            }
    p{
        font-size: 15px;
        line-height: 18px;
        float: left;
        width: 400px;
    }
    img{
        width: 350px;
        height: 250px;
    }
    #header2, #header3{
    
        right:45px;
        padding: 5px;
    }
    .links{
        top:20px;
        width: 80%;
        
    }
    #relative{
        height: 1150px;
        padding-bottom:0px;
    }
            
}
@media only screen and (max-width: 980px) {
    /* For desktop: */
    .middle{
        width: 768px;
       
    }
    #absolute{
        width:768px;
        height: 630px;
    }
    #absolute1{
        width:768px;
        height: 630px;
        }
        #absolute2{
            width:768px;
            height: 630px;
            padding-bottom: 0px;
            margin-bottom: 5px;
            }
    p{
            font-size: 20px;
            line-height: 25px;
            float: left;
            width: 400px;
        }
        #header2, #header3{
    
            right:45px;
            padding: 5px;
        }
        .links{
            top:0px;
            width: 540px;
        }
}
